<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center; margin-top:50px;">Bienvenido a Notea</h2>
  <ion-img src="../assets/splash.svg" style="text-align: center; margin: auto; width: 20%;  margin-top: 200px; "></ion-img>
  <ion-item lines="none" style="text-align: center; margin-top: 50px;">
    
  </ion-item>

<ion-content style="margin: 100px;" >
  <ion-button  color="primary" expand="full" (click)="this.login()">Login</ion-button>
  Pulse login para poder entrar en la App
</ion-content>

